body{
    margin: 35px;
    border:burlywood 5px solid;
    border-radius: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(b2.jpg);
    background-size: 100%;
    background-repeat:repeat-y;
    text-align:left;
    color:black;
   
}
h3{
   margin-top: 15%;
   margin-bottom: 15%;
   text-align: left;
}
h1{
   margin-top: 5%;
   margin-bottom: 5%;
}
div{
   text-align: left;
   font-size:large;
   
}
#dis{
   text-align: left;
}
li{
   font-size: larger;
}
a:link, a:visited {
   background-color:rgb(245, 195, 175);
   color:black;
   padding: 15px 25px;
   text-align: center;
   text-decoration: none;
   display:inline-block;
   margin: auto;
}
a:hover, a:active {
   background-color:rgb(165, 78, 46);
   color: white;
 }
 .mid{
   text-align: center;
}